.Smenu{
    width: 100%;
    font-size: 25px;
    position: fixed;
    display: inline-block;
    border: 1px solid rgba(81, 255, 0, 0.329);
    box-shadow: rgba(255, 255, 255, 0.596) 1px 50px 80px;
    background-color: rgba(139, 136, 136, 0.301);
    text-align: center;
    padding: 5px;
    margin-top: 1px;
}
.Smenu>a{
color:yellow;
margin:2px;     
}





.liste{
    margin-top: 5%;
    width:auto;
    text-align: center;
}


#alpha{
    font-size:20px;
    color: red;
    text-align: center;
}

#song{
    font-size: 20px;
    text-align: center;
    line-height: 1.8;
}
a:link {
    color: none;
}
#chanteur{
    color:black;
    font-weight: bold;
}
#chanson{
    color:black;
}
#color1{
    color: blue;
}
#color2{
    color: white;
}
#color3{
    color: red;
}