body{
    width:auto;
    height:auto;
    margin-right:0%;
    margin-left: 0%;
    background-color: purple;
}



.menu{
    text-align: center;
    margin-top: -8px;
    width: auto;
    height:70px;
    background-color: rgb(114, 13, 13);
    border-bottom:2px solid black ;
    box-shadow: red 0px 10px 50px ;
}



.titre{
    text-align: center;
    padding: 1px;
    font-size: 40px;
    color: red;
    text-shadow: WHITE 5px 5px 5px ;
}



.cat{
    background-color: burlywood;
    margin-top: 50%;
    margin-bottom: 50%;
    margin-left:10%;
    margin-right:10%;
    border: black solid 3px;
    padding-top: 2%;
}



.table{
    list-style: none;

}
a:link{
    text-decoration: none;
  

}
.table>h1{
    text-align: center;
    color: red;
}
.table>li{
    width:10%;
    margin-left: 35%;
    margin-top: 1.5%;
    padding: 3%;
    padding-right: 15%;
    border:1px solid black;
    border-radius: 5px;
    font-size: 30px;
    color:red;
    text-align: center;
}

.table>li:hover{
    background-color:rgb(221, 175, 115) ;
    box-shadow: black 5px 5px 5px;
}


