body{
    width:auto;
    height:auto;
    margin-right:0%;
    margin-left: 0%;
    background-color: gray;
}



.menu{
    text-align: center;
    margin-top: -8px;
    width: auto;
    height:70px;
    background-color: rgba(5, 5, 5, 0.897);
    border-bottom:2px solid black ;
    box-shadow: rgba(0, 255, 34, 0.555) 1px 10px 50px ;
}



.titre{
    text-align: center;
    padding: 5px;
    font-size: 45px;
    color: rgb(212, 175, 55,);
    text-shadow: rgba(0, 255, 34, 0.363) 5px 5px 5px ;
}

.titre>a{
    color: rgb(212, 175, 55);
}



.cat{
    background-color: rgba(222, 184, 135, 0.500);
    margin-top: 5%;
    margin-bottom: 0%;
    margin-left:10%;
    margin-right:10%;
    border: rgba(206, 224, 45, 0.514) ridge 10px;
    padding-top: 2%;
}



.table{
    list-style: none;

}
a:link{
    text-decoration: none;
    
  

}
.table>h1{
    text-align: center;
    color: rgb(212, 175, 55);
    text-shadow: black 3px 1px 3px;
}
.table>li{
    width:auto;
    margin-top:5%;
    margin-right: 5%;
    padding: 3%;
    border: 3px dashed rgba(126, 97, 34, 0.89);
    border-radius: 60px;
    font-size: 25px;
    text-align: center;
    color:red;
    font-display: block;
}

#text>a{
    text-decoration: underline;
    color:rgb(230, 206, 71);
    text-shadow: black 3px 3px 2px;
  
}



.table>li:hover{
    background-color:rgba(221, 175, 115, 0.295) ;
    box-shadow: black 5px 5px 5px;
    border: 3px solid rgba(126, 97, 34, 0.89);
}



.gen{

    background-color: rgba(222, 184, 135, 0.500);
    margin-top: 5%;
    margin-bottom: 0%;
    margin-left:10%;
    margin-right:10%;
    border: rgba(206, 224, 45, 0.514) ridge 10px;
    padding-top: 1%;
    text-align: center;
}
.gen>h1{
    color: rgb(212, 175, 55);
    text-shadow: black 3px 1px 3px;
    margin-top: 0%;
    margin-bottom: 10%;
    padding-bottom: 50px;
}


#gene{
    font-size: 25px;
    font-weight:bold ;
    margin-top: -10%;
    color: gold;
    text-shadow: black 1px 1px 1px;
}
.btn1{
    float: left;
    margin-top: -15%;
    margin-left: 1.5%;
    font-size: 30px;
    border-radius: 20%;
    color:rgba(255, 217, 0, 0.445);
    text-shadow:black -1px -1px 1px;
    background-color: gold;
}

.btn2{
    float: right;
    margin-top: -15%;
    margin-right: 1.5%;
    font-size: 30px;
    border-radius: 20%;
    color:rgba(255, 217, 0, 0.445);
    text-shadow:black -1px -1px 1px;
    background-color: gold;


}

